
/* Reglas generales */
body {
  margin: 0; /* Elimina el margen por defecto */
  font-family: Arial, sans-serif;
  background-color: #2C0D4E; 
  color: #fff;
}

/* Contenedor */
.contenedor {
  /* Basic dimensions and centering */
width: 100%;
height: 100%;
/* Dark mode colors and gradient */
background: #121212; /* Fallback for browsers that don't support gradients */
background: linear-gradient(
135deg,
#3A0A64 25%,
#290846 25%,
#290846 50%,
#3A0A64 50%,
#3A0A64 75%,
#290846 75%,
#290846
);
background-size: 40px 40px;

/* Animation */
animation: move 4s linear infinite;
}

@keyframes move {
0% {
background-position: 0 0;
}
100% {
background-position: 40px 40px;
}
}

.encabezado {
  position: block; /* Posici贸n fija */
  top: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(10px);
  padding: 0px 10%; /* Ajusta el padding */
  display: flex;
  align-items: center;
  justify-content: space-between; /* Espacio entre elementos */
  z-index: 1000;
}

.logo a{
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
}

.navegacion ul{
  list-style: none; /* Quita los puntos */
}

.encabezado .navegacion ul li{
  float: left; /* Ajusta la posici贸n */
  position: relative; 
} .encabezado .navegacion ul li:hover > ul{
  display: initial;
}


.encabezado .navegacion ul li a{
  font-size: 18px; 
  color: #fff;
  text-decoration: none; /* Quita el subrayado */
  padding: 20px; 
  display: block;
} .encabezado .navegacion ul li a:hover{
  background-color: #290846;
  border-radius: 10px;
}

.premium {
  background-color: #f5e1081e;
  border-radius: 10px;
} .premium:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
  gap: 5%;
}

#toggle, .menu-boton{
  display: none;
}

.optimizacion-juegos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}

.contenido-izquierda {
  max-width: 40%;
  padding-right: 50px;
  margin-top: 50px;
  text-align: left;
}

.contenido-izquierda h1 {
  font-size: 3.5em;
  margin-bottom: 20px;
  color: #27c2e4; 
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.7); /* Sombra al texto */
}

.contenido-izquierda ul {
  list-style: none;
  padding: 0;
  font-size: 1.8em;
  margin-bottom: 40px;
}

.contenido-izquierda ul li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
}

.contenido-izquierda ul li::before {
  content: ''; /* Icono gamer en la lista */
  position: flex;
  left: 0;
  color: #e50914;
}

#start-play {
  font-size: 1.5em;
  padding: 10px 30px;
  background-color:  #519aee;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transici贸n en hover */
  box-shadow: 0px 5px 15px rgba(9, 97, 229, 0.6); /* Sombra roja */
}

#start-play:hover {
  background-color: #47c2ff;
  transform: scale(1.1); /* Aumenta el tama帽o en hover */
}

.contenido-derecha {
  max-width: 50%;
  padding: 0px;
  display: block;
}

.contenido-derecha img {
  max-width: 100%;
  height: 400px;
  object-fit: cover;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s ease; /* Transici贸n en hover */
}

.contenido-derecha img:hover {
  transform: scale(1.05); /* Aumenta el tamano en hover */
  z-index: 1;
}

.carousel-juegos {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos responsivos */
@media (max-width: 1000px) {
  body{
    padding: 0px;
  }

.encabezado {
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
}

.encabezado .navegacion{
    display: none;
}

  .optimizacion-juegos {
    margin-top: -100px;
    flex-direction: column;
    height: auto;
    text-align: center;
    align-items: center;
    padding: 20px;
    border-radius: 0;
    margin-bottom: 20px;

  }

  .contenido-izquierda {
    max-width: 100%;
    padding-right: 0;
    text-align: center;
  }

  .contenido-izquierda h1 {
    font-size: 2.5em;
  }

  .contenido-izquierda ul {
    font-size: 1.2em;
  }

  
}