/* Reglas generales */
body {
    margin: 0; /* Elimina el margen por defecto */
    font-family: Arial, sans-serif;
    background-color: #2C0D4E; 
    color: #fff;
    cursor: url('https://i.ibb.co/TBz3GxC/cursor-2.png'), auto;
}

/* Aplica el cursor personalizado solo a enlaces */
a {
    cursor: url('https://i.ibb.co/TBz3GxC/cursor-2.png'), auto;
}

/* Contenedor */
.contenedor {
    /* Basic dimensions and centering */
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;

/* Dark mode colors and gradient */
background: #121212; /* Fallback for browsers that don't support gradients */
background: linear-gradient(
  135deg,
  #3A0A64 25%,
  #290846 25%,
  #290846 50%,
  #3A0A64 50%,
  #3A0A64 75%,
  #290846 75%,
  #290846
);
background-size: 40px 40px;

/* Animation */
animation: move 4s linear infinite;
}

@keyframes move {
0% {
  background-position: 0 0;
}
100% {
  background-position: 40px 40px;
}
}

/*-------------------#MENU DE NAVEGACIÓN-----------------*/

.encabezado {
    position: fixed; /* Posición fija */
    top: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(10px);
    padding: 0px 10%; /* Ajusta el padding */
    display: flex;
    align-items: center;
    justify-content: space-between; /* Espacio entre elementos */
    z-index: 1000;
}

.logo a{
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}

.navegacion ul{
    list-style: none; /* Quita los puntos */
}

.encabezado .navegacion ul li{
    float: left; /* Ajusta la posición */
    position: relative; 
} .encabezado .navegacion ul li:hover > ul{
    display: initial;
}


.encabezado .navegacion ul li a{
    font-size: 18px; 
    color: #fff;
    text-decoration: none; /* Quita el subrayado */
    padding: 20px; 
    display: block;
} .encabezado .navegacion ul li a:hover{
    background-color: #290846;
    border-radius: 10px;
}

.premium {
    background-color: #f5e1081e;
    border-radius: 10px;
} .premium:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
    gap: 5%;
}

#toggle, .menu-boton{
    display: none;
}
/*-------------------#PAGINA PRINCIPAL-----------------*/
main {
    padding-top: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

/* Noticias, música y juegos */
.news, .musica-recomendada, .top-juegos {
    padding: 10px;
    width: 80%;
    cursor: url('https://i.ibb.co/TBz3GxC/cursor-2.png'), auto;;
}

.news-cards, .tarjetas-musica, .tarjetas-juego {
    display: flex;
    gap: 1%;
    flex-wrap: wrap; /* Ajuste flexible en pantallas pequeñas */
}

/* Tarjetas */
.news-card, .tarjeta-juego, .tarjeta-musica {
    background-color: #430e6ebc;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    flex: 1 1 200px; /* Flexibilidad en el tamaño de las tarjetas */
    margin-bottom: 10px; /* Espaciado entre tarjetas */
    box-shadow: 0 4px 8px rgba(208, 0, 255, 0.766);
} .news-card:hover, .tarjeta-juego:hover, .tarjeta-musica:hover {
    cursor: url('https://i.ibb.co/yRYwH3R/POINTER-1.png'), pointer;
    transform: scale(1.05);
    transition: transform 0.3s;
    gap: 5%;
}

/* Tamaños fijos para imágenes */
.news-card img, .tarjetas-juego img, .tarjetas-musica img {
    width: 250px;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
    cursor: url('https://i.ibb.co/yRYwH3R/POINTER-1.png'), pointer;
}

/* Audios */
audio::-webkit-media-controls-panel{
    background-color: #740ad0;
    cursor: url('https://i.ibb.co/yRYwH3R/POINTER-1.png'), pointer;
}

/* Lista de amigos */
.lista-amigos {
    position: fixed;
    bottom: 0;
    right: 80px;
    width: 300px;
    backdrop-filter: blur(10px);
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(208, 0, 255, 0.766);
    z-index: 1000;
}

.abrir-amigos {
    background-color: #29084681;
    backdrop-filter: blur(5px);
    padding: 5px;
    cursor: pointer;
    text-align: center;
    border-radius: 15px 15px 0 0;
}

.abrir-amigos h2 {
    display: inline-block;
    margin: 10px;
    font-size: 18px;
    color: #fff;
}
.contenedor-amigos {
    display: none;
    padding: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
}

.lista-amigos.open .contenedor-amigos {
    display: block;
    max-height: 300px;
    padding: 10px;
    overflow-y: auto;
}

.lista-amigos ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.lista-amigos ul li {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #5b26866c;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.lista-amigos ul li:hover {
    background-color: #6d3a8a;
}

.lista-amigos ul li img.foto-amigo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.lista-amigos ul li .info-amigo {
    display: flex;
    flex-direction: column;
}

.lista-amigos ul li .nombre-amigo {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 16px;
}

.lista-amigos ul li .estado-amigo {
    font-size: 14px;
    color: #d3d3d3;
}

.amigo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.amigo-link:hover .nombre-amigo,
.amigo-link:hover .estado-amigo {
    color: #fff;
}


/*-------------------#PERFIL DE AMIGOS-------------------*/
/* Modal */
.perfil {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.516);
}

.perfil:target {
    display: block;
}


.perfil img.foto-perfil {
    width: 100px;
    height: 100px;
    border-radius: 10%;
    display: block;
    margin: 0 auto 20px;
}

.modal-content {
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    max-height: auto;
    overflow:hidden;
    text-align: center;
}

.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
}



/*-----------------------TELEFONOS---------------------------*/
@media screen and (max-width: 1000px) {
    .contenedor {
        width: 100%;
    }

    #toggle:checked ~ .navegacion {
        display: initial;
    }    

    .encabezado {
        padding: 20px 10%;
    }

    .encabezado .navegacion {
        position: absolute;
        top: 100%;
        right: 0;
        width: 60%;
        background-color: #160723ed;
        display: none;
        border-radius: 0 0 10px 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    }
    .encabezado label{
        display: initial;
    }

    .encabezado .navegacion ul li{
        width: 100%;
        margin-bottom: 1px;
        border-radius: 0 0 10px 10px;
    }

    .encabezado .navegacion ul li a{
        padding: 8px 3px 8px 10%;
    }

    .news, .musica-recomendada, .top-juegos {
        width: 80%;
    }

    .modal-content {
        width: 85%;
    }

    .lista-amigos {
        left: 10px;
        max-height: 300px;
        overflow-y: auto;

    }

    .abrir-amigos {
        height: 35px;
    }

    .abrir-amigos .boton-amigos {
        font-size: 12px;
    }
}